@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Fuggles&family=Oswald:wght@700&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgb(40, 40, 40), black, rgb(40, 40, 40));
}
header nav div .logo {
  width: 75px;
  transition: all 1.5s ease;
}
header nav div .logo:hover {
  transform: scale(1.2, 1);
}
header nav div div ul .titulo {
  font-family: "Fuggles", cursive;
  color: rgb(133, 57, 57);
  width: 200px;
}
header nav div div ul .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}

footer {
  background: radial-gradient(circle, rgb(40, 40, 40), black, rgb(40, 40, 40));
}

.pie-pagina {
  width: 100%;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 150px;
  transition: all 1.5s ease;
}
.pie-pagina .grupo-1 .box figure img:hover {
  transform: scale(1.2, 1);
}
.pie-pagina .grupo-1 .box h3 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: red;
}
.pie-pagina .grupo-2 {
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.fondoIndex {
  background-image: url(../images/fondo3.jpg);
}
.fondoIndex .subTitulo {
  font-family: "Oswald", sans-serif;
  color: rgb(133, 57, 57);
}

.fondoIndex .cont .row div .colorPropio {
  background-image: url(../images/fondo3.jpg);
}
.fondoIndex .cont .row div .colorPropio .animacion {
  transition: all 1s ease;
}
.fondoIndex .cont .row div .colorPropio .animacion:hover {
  transform: scale(1.07, 1);
}
.fondoIndex .cont .row div .colorPropio div .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}

.fondoIndex section .fondo {
  background-color: black;
}
.fondoIndex section .colorLetraDos {
  color: rgb(133, 57, 57);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fondoIndex section div div div h3 .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}
.fondoIndex section div div div div div .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}

.fondoTurnos {
  background-image: url(../images/fondo5.webp);
}
.fondoTurnos .contenedorTabla {
  width: 100%;
}
.fondoTurnos .contenedorTabla .tabla {
  width: 90%;
  margin: 0 auto;
}
.fondoTurnos .contenedorTabla .tabla thead tr .letraTabla {
  font-family: "Fuggles", cursive;
  padding: 30%;
  color: red;
}

.fondoTurnos .formulario {
  width: 50%;
  margin: 20 auto;
}
.fondoTurnos .formulario div .colorLetraDos {
  color: rgb(133, 57, 57);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fondoTurnos .formulario button:hover {
  color: blue;
  border-radius: 20px;
}

.fondoApp {
  background-image: url(../images/gymAPP.jpg);
}
.fondoApp .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}
.fondoApp .colorLetraDos {
  color: rgb(133, 57, 57);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fondoApp .ubicacion {
  width: 100%;
  margin: 20 auto;
}

.fondoApp {
  background-image: url(../images/gymAPP.jpg);
}
.fondoApp .subTitulo {
  font-family: "Oswald", sans-serif;
  color: rgb(133, 57, 57);
}
.fondoApp section .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}

.fondoFrecuentes {
  background-image: url(../images/frecuentes.jpg);
  height: 100vh;
}
.fondoFrecuentes .fondo {
  background-color: black;
}
.fondoFrecuentes .colorLetraDos {
  color: rgb(133, 57, 57);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fondoFrecuentes div div div h2 .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}
.fondoFrecuentes div div div div div .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}
.fondoFrecuentes section .tamanoLetra {
  font-size: 150%;
}
.fondoFrecuentes section .tamaLetra {
  font-size: 250%;
}
.fondoFrecuentes section .colorLetra {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(133, 57, 57);
}
.fondoFrecuentes section .colorLetraDos {
  color: rgb(133, 57, 57);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*# sourceMappingURL=estilo.css.map */
