header {
    background: linear-gradient(rgb(40, 40, 40), black, rgb(40, 40, 40),);
    nav {
        div {
            .logo {
                width: 75px;
                transition: all 1.5s ease;
                &:hover{
                    transform: scale(1.2,1);
                }
            }
            div {
                ul {
                    .titulo{
                        font-family: $fontFamily1;
                        color: $colorDos;
                        width: 200px;
                    }
                    .colorLetra{
                        font-family: $fontFamily3;
                        color: $colorDos;
                    }
                }
            }
        }
    }
}