.fondoFrecuentes{
    background-image: url(../images/frecuentes.jpg);
    height: 100vh;
    .fondo{
        background-color: black;
    }
    .colorLetraDos{
        color: $colorDos;
        font-family: $fontFamily4;
    }
    div{
        div{
            div{
                h2{
                    .colorLetra{
                        font-family: $fontFamily3;
                        color: $colorDos;
                    }
                }
                div{
                    div{
                        .colorLetra{
                            font-family: $fontFamily3;
                            color: $colorDos;
                        }
                    }
                }
            }
        }
    }
    section{
        .tamanoLetra{
            font-size: 150%;
        }
        .colorLetraDos{
            color: $colorDos;
            font-family: $fontFamily4;
        }
    }
}