$colorUno: red;
$colorDos: rgb(133, 57, 57);
$colorTres: white;
$colorCuatro: #fff;
$colorCinco: #efefef;
$fontFamily1: "Fuggles", cursive;
$fontFamily2: "Oswald", sans-serif;
$fontFamily3: Arial, Helvetica, sans-serif;
$fontFamily4: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$backgroundColor1: rgb(34, 33, 33);
$backgroundColor2: black;